<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
	<mapper namespace="com.iu.start.test.members.BankMembersDAO">
	
	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
		SELECT USERNAME, NAME FROM MEMBERS WHERE USERNAME = #{username} AND PASSWORD = #{password}
	</select>
	
	<insert id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO MEMBERS VALUES (#{username}, #{password}, #{name}, #{email}, #{phone})
	</insert>
	
	<select id="getSearchById" parameterType="String" resultType="BankMembersDTO">
		SELECT * FROM MEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME
	</select>
		    
	</mapper>