<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
	<mapper namespace="com.iu.start.test.members.BankMembersDAO">
	
	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
		SELECT USERNAME, NAME FROM MEMBERS WHERE USERNAME = #{username} AND PASSWORD = #{password}
	</select>
	
	<insert id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO MEMBERS VALUES (#{username}, #{password}, #{name}, #{email}, #{phone})
	</insert>
	
	<select id="getSearchById" parameterType="String" resultType="BankMembersDTO">
		SELECT * FROM MEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME
	</select>
		    
	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
		SELECT M.USERNAME, M.NAME, M.EMAIL, M.PHONE, BA.ACCOUNTNUM, BB.BOOKNAME, BA.ACCOUNTDATE
			FROM MEMBERS M
			INNER JOIN
			BANKACCOUNT BA
			ON M.USERNAME = BA.USERNAME
			
			INNER JOIN
			BANKBOOK BB
			USING(BOOKNUM)
			WHERE M.USERNAME=#{username}
	</select>
	
	<resultMap type="BankMembersDTO" id="getMyPageResult">
		<id column="USERNAME" property="username"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO">
			<id column="ACCOUNTNUM" property="accountNum"/>
			<result column="ACCOUNTDATE" property="accountDate"/>
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result column="BOOKNAME" property="bookName"/>
			</association>
		</collection>
	</resultMap>
	</mapper>